
body
{
  color: rgb(129, 82, 148);
  background: rgb(214, 137, 109);
}
span
{
  font-size: 50px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}

.emotion_name
{
  font-size: 60px;
}
.emoji
{
  font-size:48px;
}

.heading {
  font: 48px;
  border-radius: 10px;
  letter-spacing: 10px;
}

label {
  font-size: 44px;
  padding: 5px;
  border-radius: 25px;
}